@model ProjectDataProgram.Web.Models.ProjectTaskModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Добавить</h1>

<h4>Задание</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            @Html.HiddenFor(model => model.ProjectId)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @if (User.IsInRole("AdminAupervisor"))
            {
                <div class="form-group">
                    <label asp-for="AuthorId" class="control-label"></label>
                    <select asp-for="AuthorId" class="form-control" asp-items="@Model.AuthorList">
                        <option id="ALL"></option>
                    </select>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="ExecutorId" class="control-label"></label>
                <select asp-for="ExecutorId" class="form-control" asp-items="@Model.ExecutorList">
                    <option id="ALL"></option>
                </select>
                <span asp-validation-for="ExecutorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="@Model.StatusList">
                    <option id="ALL"></option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Project" asp-action="Index">Назад</a>
</div>

