@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-left">
    <p>Добро пожаловать в гость пожалуйста авторизируйтесь</p>
    <p>В Базе есть пользователи по умолчанию</p>
    <p>Руководитель</p>
    <ul>
        <li>Логин admin Пароль 12356</li>
    </ul>
    <p>Проджект менеджер</p>
    <ul>
        @for (int i = 0; i < 7; i++)
        {
            string line = "projectmanager" + i;
            <li>Логин @line Пароль 123456</li>
        }
    </ul>
    <p>Сотрудник</p>
    <ul>
        @for (int i = 0; i < 20; i++)
        {
            string line = "employee" + i;
            <li>Логин @line Пароль 123456</li>
        }
    </ul>
</div>
