@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-left">
    <p>Приветствую Вас сотрудник, Вам пока доступен просмотр в дальнейшем реализую изменение статуса на Задание</p>
</div>
