@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="text-left">
    <p>Приветствую Вас Руководитель, Вам доступно добавление и редактирования проектов и задач</p>
</div>
